$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-facebook: "\e903";
$icon-instagram: "\e900";
$icon-previous: "\e901";
$icon-chevnext: "\e902";
$icon-facebook-with-circle: "\e909";
$icon-linkedin: "\e905";
$icon-twitter: "\e906";
$icon-mail: "\e907";
$icon-phone: "\e908";
$icon-location: "\e947";
$icon-quotes-left: "\e977";
$icon-quotes-right: "\e978";

