#wrapper {
    position: relative;
    overflow: hidden;
}

.container {
    max-width: 1210px; //width + padding (left, right) + border (left, right)
    width: 100%;
    margin: 0 auto;

    &.lg {
        max-width: 1310px;
    }
}

.style {
    position: relative;
    padding-left: 44px;
    display: inline-block;
    vertical-align: top;
    /* margin: 0 0 -40px; */

    &:after {
        content: '';
        display: block;
        width: 42px;
        height: 42px;
        position: absolute;
        background: url("../img/about-logo.png")no-repeat center /cover;
        top: 9px;
        left: 0;
        bottom: 16px;
        /* background-repeat: no-repeat;
        background-position: center;
        background-size: cover; */
    }
}

.bg-stretch {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // &.p {
    //     margin: 0 0 25px;
    // }
}

.overline-text {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
}

.btn {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    @include animate(all, 0.35s, ease-in-out);

    &.primary {
        /* margin: 0 auto; */
        padding: 15px;
        background-color: #333333;
        color: #ffffff;
        border-radius: 30px;
        border: 2px solid #ffffff;
        min-width: 230px;

        &:hover {
            background-color: $white;
            color: $black;
            border-color: #bf3d42;
        }
    }

    &.secondary {
        padding: 15px;
        background-color: #bf3d42;
        color: #ffffff;
        border-radius: 25px;
        border: 2px solid #bf3d42;
        min-width: 180px;
    }
}

.nav span {
    display: block;
}

.two-columns, 
.four-columns {
    display: flex;
    flex-wrap: wrap;
    @include media('>=tablet'){
    margin: 0 -20px;

    }

    .col {
        width: 100%;
        @include media('>=tablet')
        {
            flex: 1;
            padding: 0 20px;
        }
     

        &.large-col {
            @include media('>=tablet'){
                flex: auto;
                width: 58.33%;
            }
            
        }

        &.small-col {
            @include media('>=tablet'){
                flex: auto;
                width: 41.66%;
            }
        
        }
    }
}

.four-columns {
    margin: 0 -10px;

    .col {
        width: auto;
        flex: 1;
        padding: 0 10px;
    }
}
.slick-arrow{
    border: none;
    padding: 0;
    background: none;

}
